lblue green red  orange yellow rose purple

		<div class="ui-303">
			<div class="o-timeline">
				<div class="timeline-item">
					<div class="timeline-circle bg-red">
						<span>5</span> Jan 2015
					</div>
					<div class="timeline-content">
						<p>Praesent dictum, sapien a facilisis placerat, bulum vulputate mi, non mattis ipsum tempus ut. Sed metus odio, rutrum et sem sit amet, cursus tristique tortor. </p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
